.dark-theme {

    ion-content {

        background-color: black;
    }

    .toolbar-title {
        color: white

    }

    .toolbar-background {
        background-color: black;
        border-color: deeppink;

    }
    button {
        color: white;
    }

    .desc{

        color: white;
    }

}
